<table class="table table-bordered" id="tbl_posts">
    <thead>
      <tr>
        <th>#</th>
        <th>column 1</th>
        <th>column 2</th>
        <th>column 3</th>
        <th>column 4</th>
      </tr>
    </thead>
    <tbody id="tbl_posts_body">
      <tr id="rec-1">
        <td><span class="sn">1</span>.</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
      </tr>
    </tbody>
    <tbody id="tbl_posts_body">
      <tr id="rec-2">
        <td><span class="sn">1</span>.</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
      </tr>
    </tbody>
  </table>